body {
  font-family: "Open Sans", sans-serif;
  margin: 30px;
  color: #fff;
  background: linear-gradient(
    180deg,
    rgb(43, 50, 178) 0%,
    rgb(20, 136, 204) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.search {
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
}
.dailyContainer {
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}
.currentLocation {
  text-transform: uppercase;
  font-size: 43px;
}
.currentDate {
  font-size: 20px;
}
.currentStatsContainer {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 1.5;
}
.currentStats1 {
  margin-bottom: 0;
}
.currentStats2 {
  margin-top: 0px;
}
.col {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 20px;
  border-radius: 10px;
  text-align: center;
}
.colValue {
  font-size: x-large;
}
.colLabel {
  color: rgba(255, 255, 255, 0.6);
}
.col-6 {
  text-align: center;
  padding: 20px;
  line-height: 2.5;
  font-size: x-large;
}
.colA {
  margin-bottom: 10px;
}
.colC {
  margin-top: 10px;
}
.icon {
  font-size: 30px;
}
.iconA {
  font-size: 125px;
}
footer {
  font-size: 10px;
}
